.container-user {
    display: flex;
}

.header-title {
    width: 216px;
    height: 44px;
    margin-left: 40px;
}

.content {
    width: 986px;
    height: 1081px;
    margin-top: 50px;
    margin-left: 70px;
    box-shadow: 0px 10px 60px 0 #E2ECF9;
    border-radius: 30px;
}

.content-header {
    padding-top: 40px;
}

.department-title,
.user-title {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -1%;
}

.search-container {
    display: flex;
    justify-content: flex-end;
}

.search-input-container {
    display: flex;
    width: 216px;
    height: 41px;
    border-radius: 10px;
    background-color: #F9FBFF;
}

.search-icon-button {
    width: 24px;
    height: 25.89px;
    position: relative;
    top: 11px;
    border: none;
    background-color: #fff;
}

.search-input {
    border: none;
    outline: none;
    margin-left: 9px;
}

.department-heading,
.user-heading {
    border-bottom: 1px solid #EEEEEE;
}

.department-header-row,
.user-header-row {
    display: flex;
    justify-content: space-between;
    margin-inline: 40px;
    margin-bottom: 15px;
}

.header-action {
    padding-right: 70px;
}

.header-name-text, .header-action-text, .header-department-text, .header-email-text {
    height: 27.96px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -1%;
    color: #B5B7C0;
}

.add-item {
    display: flex;
    gap: 10px;
    margin-right: 380px;
}

.add-name-input {
    height: 27.96px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    outline: none;
    color: #333;
    width: 300px;
}

.submit-add-item-button {
    height: 27.96px;
    width: 40px;
}
