.container {
    width: 419px;
    height: 480px;
    box-shadow: 0 0 20px #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 16px;
    position: relative;
    top: 150px;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header-title {
    width: 339px;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #333;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.login-input {
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.input-email,
.input-password {
    width: 339px;
    height: 48px;
    padding: 12px 12px 12px 16px;
    border-radius: 12px;
    border: 1px solid #333;
    padding-inline: 35px;
    outline: none;
}
    
.input-email-div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-password {
    display: flex;
   
    justify-content: space-between;
}

.error-input {
    border: 1px solid red;
}

.error-empty-email {
    border: 1px solid red;
}

.img-email {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 15px;
    left: 10px;
    
}

.input-pass-div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.img-pass {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 15px;
    left: 10px;
}

.img-eye {
    width: 20px;
    height: 20px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 15px;
    right: 10px;
}

.button {
    width: 339px;
    display: flex;
    flex-direction: column;
}

.btn-login {
    width: 339px;
    height: 48px;
    padding: 0px 20px 0px 20px;
    margin: 5px 0 5px 0;
    border-radius: 12px;
    background-color: rgba(1, 86, 252, 1);
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
}

.btn-sign {
    width: 339px;
    height: 48px;
    padding: 0px 20px 0px 20px;
    margin: 5px 0 5px 0;
    border-radius: 12px;
    background-color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(1, 86, 252, 1);
    border: none;
}

.title-error {
    width: max-content;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgba(251, 56, 50, 1);
}